:root {
  --title-header-height: 40px;
  --foot-height: 70px;
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
}
#video-play {
  height: 100vh;
  width: 100vw;

  & .video-title {
    height: var(--title-header-height);
    color: white;
    display: flex;
    align-items: center;
    padding-left: 50px;
  }

  & .video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - var(--title-header-height) - var(--foot-height) - 30px);

    & video {
      max-height: 100%;
    }
  }

  & .video-control {
    height: var(--foot-height);
    background: rgba(40, 40, 40, 0.7);
    margin: 0 100px;
    padding: 0 20px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    column-gap: 10px;

    &.hide {
    }

    & > .btn {
      height: 50%;
      width: 40px;
      cursor: pointer;
      border-style: none;
    }

    & .btn-play {
      background: url('/asserts/play_fill.svg') no-repeat center / cover;

      &.play {
        background: url('/asserts/stop.svg') no-repeat center / cover;
      }
    }

    & .btn-previous {
      background: url('/asserts/previous.svg') no-repeat center / cover;
    }

    & .progress-wrapper {
      width: 100%;
      position: relative;

      display: flex;
      align-items: center;

      & .progress-bg {
        position: absolute;
        background-color: white;
        height: 10px;
        width: 100%;
        border-radius: 10px;
      }

      & .progress-current {
        position: absolute;
        background-color: blue;
        height: 10px;
        border-radius: 10px;
        pointer-events: none;
      }
    }

    & .btn-next {
      background: url('/asserts/next.svg') no-repeat center / cover;
    }

    & .btn-volume {
      background: url('/asserts/large-voice.svg') no-repeat center / cover;

      &.no-voice {
        background: url('/asserts/no-voice.svg') no-repeat center / cover;
      }
    }

    & .volume-silder:focus {
      outline: none;
    }

    & .btn-fullscreen {
      background: url('/asserts/full-screen.svg') no-repeat center / cover;
    }

    & .current-time, & .duration {
      min-width: 50px;
      max-width: 60px;
      overflow: hidden;
      color: white;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
